%gr-book{
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 400;
}
%gr-m{
  font-family: 'GothamRounded-Medium', sans-serif;
  font-weight: 500;
}
%gr-mi{
  font-family: 'GothamRounded-Book', sans-serif;
  font-weight: 500;
  font-style: italic;
}